<?php $static = freak_config::get('common', 'static');?>
<!DOCTYPE html>
<html>
<head lang="zh-CN">
    <meta charset="utf-8">
    <!-- 初始网页宽度为设置屏幕宽度，缩放级别为1.0，禁止用户缩放-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <!-- 设置360等双内核的浏览器渲染模式 -->
    <meta name="renderer" content="webkit">
    <!-- 设置IE支持的最高模式 -->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <!-- 禁止移动浏览器转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- 网站标志 -->
    <!-- <link rel="icon" type="image/png" href="favicon.png"> -->

    <title>Admin</title>
    <!-- 网站描述 -->
    <meta name="description" content="Yun+是一个完全响应式的后台主题UI框架，基于Boostrap CSS框架，jQuery框架等各种开源前端框架开发的HTML5+CSS3前端主题UI框架，提供各种强大的常用UI组件，您可以基于此框架应用于您的网站开发，如网站后台，会员中心，论坛，CMS等等。">
    <!-- 网站SEO关键词 -->
    <meta name="keywords" content="Yun+UI,云+主题,云加后台主题UI,响应式的后台主题,Boostrap主题框架">


    <!-- 引入Bootstrap CSS框架 awesome字体-->
    <link href="<?php echo $static;?>css/bootstrap/3.3.4/bootstrap.min.css" rel="stylesheet">
    <link href="<?php echo $static;?>fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="<?php echo $static;?>css/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">
    <!-- CSS动画框架 -->
    <link href="<?php echo $static;?>css/animate.css" rel="stylesheet">
    <!-- Yun+ UI css主文件 -->
    <link href="<?php echo $static;?>css/yuntheme.css" rel="stylesheet">
    <?php if(!empty($include_css)){ echo $include_css; }?>
</head>
<body>
<div id="wrapper">
    <!-- 侧边导航菜单 开始 -->
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="active">
                    <a href="/?m=admin">
                        <i class="fa"></i>
                        <span class="nav-tabel">Demo</span>
                        <span class="fa"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li><a href="/?m=admin&a=editor">Summernote编辑器</a></li>
                        <li><a href="/?m=admin&a=show_list">list</a></li>
                        <li><a href="dashboard_2.html">主面板示例二</a></li>
                        <li><a href="dashboard_3.html">主面板示例三</a></li>
                        <li><a href="dashboard_4.html">主面板示例四</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <!-- 侧边导航菜单 结束 -->


    <!-- 右侧内容 开始 -->
    <div class="gray-bg" id="page-wrapper">

        <?php include $include_file; ?>


        <div class="footer">
            <div>
                <strong>Copyright</strong> chihuoyo.com &copy; 2018
            </div>
        </div>
    </div>
    <!-- 右侧内容 结束 -->

</div>

<!-- 引入主要jQuery 等js框架 -->
<script src="<?php echo $static;?>js/jquery-2.1.1.js"></script>
<script src="<?php echo $static;?>js/bootstrap/3.3.4/bootstrap.min.js"></script>
<script src="<?php echo $static;?>js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="<?php echo $static;?>js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="<?php echo $static;?>js/inspinia.js"></script>
<script src="<?php echo $static;?>js/plugins/pace/pace.min.js"></script>

<!-- blueimp gallery -->
<script src="<?php echo $static;?>js/plugins/blueimp/jquery.blueimp-gallery.min.js"></script>
<!-- 顺序加载 JS 文件 -->
<?php if(!empty($include_js)){ echo $include_js; }?>
</body>
</html>