<!-- 右侧内容div .wrapper 开始 -->

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Wyswig Summernote 编辑器</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="form_basic.html#">选项 1</a></li>
                            <li><a href="form_basic.html#">选项 2</a></li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>

                </div>
                <div class="ibox-content no-padding">
                    <textarea class="summernote">
                        <h3>欢迎使用Yun+主题UI! </h3>
                        Yun+是一个完全响应式的后台主题UI框架，基于<strong>Boostrap CSS</strong>框架，<strong>jQuery</strong>框架等各种开源前端框架开发的HTML5+CSS3前端主题UI框架，提供各种强大的常用UI组件，您可以基于此框架应用于您的网站开发，如网站后台，会员中心，论坛，CMS等等。
                        <br/>
                        <br/>
                        <ul>
                            <li>完成响应式的</li>
                            <li>面向移动的HTML5</li>
                            <li>强大的UI组件</li>
                        </ul>
                    </textarea>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- 右侧内容div .wrapper 结束 -->